*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  background-color: #e5e5e5;
  position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 48px;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
  }
  
  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: absolute;
    width: 100px;
    height: 40px;
    left: 12px;
    top: calc(50% - 40px / 2);
  }
  
  .logo {
    width: 76px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
  }
  
  .navbar {
    display: none;
  }
  
  .btn-mobile-menu {
    position: absolute;
    padding: 8;
    width: 40px;
    height: 40px;
    right: 24px;
    top: calc(50% - 40px / 2);
    border-radius: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    box-shadow: none;
    transition: all 0.5s ease;
  }
  
  .btn-mobile-menu:hover {
    background-color: #6070ff;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  }
  
  .btn-mobile-menu:hover path {
    fill: #fff;
  }
  
  .btn-mobile-menu:active {
    background-color: #2230d2;
  }
  
  .btn-mobile-menu:active path {
    fill: #fff;
  }
  
  .btn-mobile-menu:disabled {
    opacity: 0.3;
  }
  
  .btn-mobile-menu:disabled path {
    fill: #5e6c84;
  }
